
<mat-toolbar>
  <mat-toolbar-row>
  <span style="font-size: 16px;margin-right: 15px">PT.Local House</span>
  <span class="example-spacer">
     <!--TOMBOL PENJUALAN-->
    <button mat-button id="firstbtn"
            (click)="button_active(0)"
            [ngStyle]="background[0]?getMyStyles():noAction()">
      Transaksi
    </button>
    <!--TOMBOL PEMBELIAN-->
    <!--TOMBOL MASTER MANAJEMEN-->
    <button mat-button (click)="button_active(1)"
            [ngStyle]="background[1]?getMyStyles():noAction()"
    >
      Master</button>
  </span>
    <button mat-button [matMenuTriggerFor]="user" style="width: 40px"><img src="../assets/user.png" width="25" height="25">
      <mat-icon matSuffix>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #user="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>close</mat-icon>
        Logout
      </button>
      <button mat-menu-item>
        <mat-icon>perm_identity</mat-icon>
        Change
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<mat-tab-group mat-align-tabs="start" backgroundColor="#f3e5f5" id="Transaksi" [hidden]="!background[0]">
  <mat-tab label="Penjualan"><app-penjualan></app-penjualan></mat-tab>
  <mat-tab label="Pembelian"><app-pembelian></app-pembelian></mat-tab>
</mat-tab-group>
<mat-tab-group mat-align-tabs="start" backgroundColor="#f3e5f5" id="master" [hidden]="!background[1]">
  <mat-tab label="Master Barang"><app-master-barang></app-master-barang></mat-tab>
  <mat-tab label="Master Bank"><app-master-bank></app-master-bank></mat-tab>
  <mat-tab label="Master Supplier"><app-master-supplier></app-master-supplier></mat-tab>
  <mat-tab label="Master Pembeli"><app-master-buyer></app-master-buyer></mat-tab>
  <mat-tab label="Master Pekerja"><app-master-pekerja></app-master-pekerja></mat-tab>
</mat-tab-group>

<router-outlet>


</router-outlet>







